.QA-Container {
  width: 82%;
  margin: auto;
  border: solid red;
}

.qa-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  padding-left: 20px;
  font-size: large;
}

.Searchbox-Container {
  display: flex;
  height: 7vh;
  width: 80%;
  border: none;
}

.Search-Input-Test {
  display: flex;
  width: 75%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-left: 25px;
}

.Search-Input-Test > i {
  font-size: large;
  color: #777;
}

.Search-Input-Test > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: medium;
  padding-left: 10px;
}

.Search-Input {
  display: flex;
  width: 100%;
}

.search-input {
  margin-left: 10px;
  width: 90%;
  height: 100%;
  border-color: black;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-radius: 4px 0px 0px 4px;
  font-size: large;
}

.Eyeglass-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 103%;
  width: 40px;
  border-style: solid;
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 4px 4px 0px;
}

.q-container {
  display: flex;
  margin-top: 10px;
  padding-left: 20px;
  width: 98%;
  height: 10vh;
  font-size: large;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: 0 6px 4px -1px rgb(228, 228, 228);
  -moz-box-shadow: 0 6px 4px -1px rgb(228, 228, 228);
  box-shadow: 0 6px 4px -1px rgb(228, 228, 228);
}
/* .q-container:hover {
  background-color: #d3d3d3;
} */

.q-or-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.uc-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.question {
  display: flex;
  margin-left: 10px;
  font-size: x-large;
  width: 65%;
  margin-left: 5px;
  justify-content: flex-start;
  align-items: center;
}

.helpful {
  display: grid;
  align-items: center;
  font-size: large;
  justify-content: center;
}

.yes-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
  margin-left: 10px;
  text-decoration: underline;
}

.pipe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.add-answer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
  margin-left: 10px;
}

.a-container {
  display: flex;
  padding-left: 20px;
  font-size: large;
  height: 5vh;
}

.a-info-container {
  display: flex;
  align-items: center;
  height: 5vh;
  margin-left: 55px;
}

.r-info-container {
  display: flex;
  height: 5vh;
  margin-top: 10px;
}


.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.report {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  font-size: large;
}

.response-container {
  margin-left: 55px;
  width: 90%;
}

.response {
  font-size: large;
  margin-top: 10px;
}

.photo-container {
  display: flex;
}

.response-photos {
  margin-top: 10px;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  border: solid;
}

.load-more-answers {
  width: 250px;
  height: 30px;
  font-weight: bold;
  font-size: large;
  box-shadow: inset 0 0 0 0 #b6b19b;
  color: black;
  margin-left: 25px;
  margin-top: 10px;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-family: sans-serif;
}

.load-more-answers:hover {
  box-shadow: inset 250px 0 0 0 black;
  color: white;
}

.buttons-container {
  display: flex;
  margin-top: 10px;
}

.add-question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  font-size: large;
  font-weight:  bold;
  width: 240px;
  height: 50px;
  margin-top: 10px;
  margin-left: 25px;
  background-color: black;
  color: white;
}


#plus {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: x-large;
}

.photo-container {
  padding-left: 55px;
  padding-bottom: 10px;
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  font-size: large;
  font-weight:  bold;
  width: 325px;
  height: 50px;
  margin-top: 10px;
  margin-left: 25px;
  color: white;
  background-color: black;
}

.collapse-question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  font-size: large;
  font-weight:  bold;
  width: 325px;
  height: 50px;
  margin-top: 10px;
  margin-left: 25px;
  color: white;
  background-color: rgb(11, 20, 102);
}

.answer-container {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  width: calc(100% - 60px);
  margin: 20px auto 0;
}

.expand-icon {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 10%;
  margin-left: 50px;
  font-size: 50px;
  font-weight:lighter;
}