.modal-styles {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 1000;
  width: 350px;
  height: 350px;
}

.overlay-styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.ans-mod-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.ans-mod-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.mod-sub-but {
  margin-left: 20px;
}