html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.Style-Detail-Spacer {
  width: 1%;
}

.Overview-Container {
  width: 82%;
  margin: auto;
  height: 750px;
  display: flex;
  justify-content: center;
}

/* TopBar */
.TopBar {
  height: 125px;
  width: 82%;
  margin:auto;
  flex-direction: column;
}

.NavBar {
  border: solid;
  border-color: red;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

.Logo {
  border: solid;
  border-color: blue;
  display: flex;
  height:100%;
  width: fit-content;
}

.SearchBar {
  width:fit-content;
  border: solid;
  border-color: blue;
  display: flex;
}

.Announcements {
  display: flex;
  justify-content: center;
}

/* Product Display */
.Product-Display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(0, 0, 0);
}

.Picture-Selector {
  width: 15%;
  height: 100%;
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Arrow-Up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: grey;
  transition: color 0.5s ease-out 100ms;
}

.Arrow-Up:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: black;
  transition: color 0.5s ease-out 100ms;
}

.SelectorWheel {
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.snaps-incol {
  scroll-snap-type: inline mandatory;
}

.snaps-incol > * {
  scroll-snap-align: start;
}

.ThumbnailFrameSelected {
  height: 63px;
  width: 63px;
  border: solid 3px;
  margin: 9px;
}

.ThumbnailFrame {
  height: 63px;
  width: 63px;
  border: rgb(179, 173, 6) solid;
  margin: 9px;
}

.ThumbnailPic {
  min-width: 60px;
  object-fit: scale-down;
}

.Arrow-Down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: grey;
  transition: color 0.5s ease-out 100ms;
}


.Arrow-Down:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: black;
  transition: color 0.5s ease-out 100ms;
}

.Selected-Picture {
  width: 100%;
  height: 100%;
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.MainPic {
  height: 100%;
  max-height: 650px;
  width:fit-content;
  max-width: 100%;
  object-fit: scale-down;
}

.Arrow-Left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  font-size: 5vh;
  color: grey;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.Arrow-Left:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 7%;
  font-size: 5vh;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.PicInterface {
  display: flex;
  justify-content: space-between;
  height:650px;
  width:100%;
  position: absolute;
  top:0;
  left:0;
}

.Arrow-Right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  color: grey;
  font-size: 5vh;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.Arrow-Right:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 7%;
  font-size: 5vh;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.ZoomInBox {
  width: 100%;
  cursor: cell;
}

.ZoomInModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-Index: 1;
}

.CloseModalButton {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  color: grey;
  transition: color 0.5s ease-out 100ms;
}

.CloseModalButton:hover {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  color: black;
  transition: color 0.5s ease-out 100ms;
}

.ZoomInPopUp {
  position: fixed;
  border: black solid;
  top:5%;
  left:5%;
  background-color: #FFF;
  z-Index: 1000;
  height:90%;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.ZoomInImage {
  object-fit: scale-down;
  height: 80vh;
  width: fit-content;
  display: block;
  margin: 3px;
  border: black solid;
  cursor: zoom-in;
  position: relative;
}

.UltraZoomInImage {
  object-fit: scale-down;
  height: 80vh;
  width: fit-content;
  display: block;
  margin: 3px;
  border: black solid;
  cursor: zoom-out;
  position: relative;
  overflow: hidden;
}

.zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.ZoomInDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
}

.ZoomInSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#OverlayZoomedImage{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-size: 250% 250%;
}

.ZoomedInArrows {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  width: 30px;
  color: grey;
  transition: color 0.5s ease-out 100ms;
}

.ZoomedInArrows:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  width: 30px;
  color: black;
  transition: color 0.5s ease-out 100ms;
}

.ZoomInSpacer {
  width: 30px;
}

.ZoomInThumbnails {
  margin:3px;
  border: black solid;
  height: 7vh;
  width:fit-content;
  max-width: 650px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Product Details */
.Product-Details {
  width: 392px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Name-And-Category {
  display: flex;
  flex-direction: column;
}

.Stars-And-Reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f5f4f4;
}


.NameCategoryPrice {
  display: flex;
  justify-content: space-between;
}

/* Name & Category */

.Category {
  display: flex;
  align-items: center;
}

.ProductName {
  height: 100%;
  display: flex;
  align-items: center;
}

.ProductTitle {
  font-size: 24px;
  margin-top: 4px;
}

.CategoryTitle {
  font-size: 12px;
  margin-bottom: 3px;
  color: #737373;
}

/* Price Display */
.BasePrice {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.SalePrice {
  display: flex;
  align-items: center;
}

.SalePriceOG {
  font-size: 24px;
  text-decoration: line-through;
  color: #737373;
  /* background: linear-gradient(to right top, transparent 47.75%,
  currentColor 49.5%, currentColor 50.5%, transparent 52.25%); */
}

.SalePriceSale {
  color:rgb(0, 0, 0);
  /* color:red; */
  font-size: 24px;
}

/* Stars & Review Link */

.Stars {
  width: 80px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.StarRatings {
  color: #ccc;
  position: relative;
  margin: 0;
  padding: 0;
}

.FillRatings {
  color: #000000;
  padding: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Review-Link {
  display: flex;
  font-size: 13px;
}

.ReviewLink {
  text-align: center;
  color:#737373;
}

/* Style Display, Selector, & AddToCart */

.StyleInfoAndFav {
  display: flex;
  justify-content: space-between;
}

.FavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FavIcon {
  font-size: 20px;
  border-color: black;
}

/* Style Display */
.StyleName {
  display: flex;
  align-items: center;
  height: 30px;
}

.StyleTitle, .CurStyleTitle {
  display: flex;
}

.StyleTitle {
  font-size: 14px;
  padding-right: 8px;
  font-weight: bold;
}

.CurStyleTitle {
  font-size: 14px;
}

/* Style Selector */
.StyleSelector {
  display: flex;
  flex-wrap: wrap;
  width: 384px;
}

.StyleOptions {
  display: flex;
  flex: auto;
  align-items: center;
}

.SingleStyle {
  width: 40px;
  height: 40px;
  margin: 0 6px 1px 0;
}

.style {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: transparent solid;
  border-radius: 50%;
  object-fit: cover;
  max-height: 30px;
  max-width: 30px;
}

.styleSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  object-fit: cover;
  max-height: 30px;
  max-width: 30px;
  padding:3px;
}

/* AddToCart */

.SizeTitleContainer {
  display: flex;
  padding: 8px 0 7px 0;
}

.SizeTitle {
  font-size: 14px;
  font-weight: bold;
  padding: 0 8px 0 0;
}

.SizeWarning {
  font-size: 14px;
  color: #737373;
}

.SoldOutWarning {
  font-size: 14px;
  color: #95250F;
}

.SizeRows {
  display: flex;
  justify-content: space-around;
  margin: 3px;
}

.QuantityAndCartRow {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #f5f4f4;
}

.SizeSelect {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  align-items: center;
  width: 378px;
}

.SizeIconSelected {
  display: flex;
  border: solid black 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 46px;
  width: 46px;
  background-color: #F5F4F4;
  font-size: 14px;
  margin: 0 6px 6px 0;
}

.SizeIconRegular {
  display: flex;
  border: transparent solid 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 46px;
  width: 46px;
  background-color: #F5F4F4;
  font-size: 14px;
  margin: 0 6px 6px 0;
}

.EmptySizes {
  width: 85%;
  font-weight: bold;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuantityFormatter {
  width: 15%;
  display: flex;
  align-items: center;

}

.QuantitySelect {
  font-size: 3vh;
  width:100%;
  height: 42px;
  text-align: center;
  border: solid 2px;
  border-radius: 7px;
}

.CartButton {
  height: 42px;
  width: 75%;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: #262626;
  background-color: #262626;
  color: white;
  border-radius: 7px;
}

.CartButton:hover {
  height: 42px;
  width: 75%;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: black;
  background-color: black;
  color: white;
  border-radius: 7px;
}

.CartButtonDisabled {
  width: 75%;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: rgb(188, 182, 182);
  color: rgb(84, 83, 83);
  background-color: rgb(182, 182, 182);
  border-radius: 7px;
}

/* Bottom Bar */
.BottomBar {
  width:82%;
  margin: auto;
  display:flex;
  justify-content: center;
}

.FeatureContainer {
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20%;
  width: fit-content;
}

.FeatureAndMaterialTitle {
  display: flex;
  align-items: center;
  height: 4vh;
}

.Feature-Spacer {
  min-width: 15%;
}

.FeatureAndMaterial {
  display: flex;
}

.FeatureTitle {
  border-bottom: 3px solid black;
  height: fit-content;
  font-size: 1.75vh;
  display: flex;
  align-items: center;
}

.FeatureMaterialSpacer {
  width: 4%;
}

.FeatureNoMaterial, .MaterialNoFeature {
  display: flex;
}

.Feature {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Material {
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: left;
}

.FeatureSpacer {
  height: 10px;
}

.Social-Media-Buttons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  border: solid;
  border-color: rgb(0, 0, 0);
}

.btn {
  display: flex;
  font-size: 35px;
}

.Info-Container {
  display: flex;
  flex-direction: column;
}

.Slogan {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 16px 0;
}

.SloganContainer {
  display: flex;
  height: fit-content;
}

.Description {
  font-size: 14px;
  margin: 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #f5f4f4;
}

.SMBRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}