html {
  scroll-behavior: smooth;
}

.Style-Detail-Spacer {
  width: 5%;
}

.Overview-Container {
  width: 82%;
  margin: auto;
  height: 650px;
  display: flex;
}

/* TopBar */
.TopBar {
  height: 125px;
  width: 82%;
  margin:auto;
  flex-direction: column;
}

.NavBar {
  border: solid;
  border-color: red;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

.Logo {
  border: solid;
  border-color: blue;
  display: flex;
  height:100%;
  width: fit-content;
}

.SearchBar {
  width:fit-content;
  border: solid;
  border-color: blue;
  display: flex;
}

.Announcements {
  display: flex;
  justify-content: center;
}

/* Product Display */
.Product-Display {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(0, 0, 0);
}

.Picture-Selector {
  width: 15%;
  height: 100%;
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Arrow-Up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: grey;
  transition: color 0.5s ease-out 100ms;
}

.Arrow-Up:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: black;
  transition: color 0.5s ease-out 100ms;
}

.SelectorWheel {
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.snaps-incol {
  scroll-snap-type: inline mandatory;
}

.snaps-incol > * {
  scroll-snap-align: start;
}

.ThumbnailFrameSelected {
  height: 63px;
  width: 63px;
  border: solid 3px;
}

.ThumbnailFrame {
  height: 63px;
  width: 63px;
  border: rgb(179, 173, 6) solid;
}

.ThumbnailPic {
  object-fit: scale-down;
}

.ThumbnailSpace {
  height: 15px;
}

.Arrow-Down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: grey;
  transition: color 0.5s ease-out 100ms;
}


.Arrow-Down:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  height: 30px;
  color: black;
  transition: color 0.5s ease-out 100ms;
}

.Selected-Picture {
  width: 100%;
  height: 100%;
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.MainPic {
  height: 100%;
  max-height: 650px;
  width:fit-content;
  max-width: 100%;
  object-fit: scale-down;
}

.Arrow-Left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  font-size: 5vh;
  color: grey;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.Arrow-Left:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 7%;
  font-size: 5vh;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.PicInterface {
  display: flex;
  justify-content: space-between;
  height:650px;
  width:100%;
  position: absolute;
  top:0;
  left:0;
}

.Arrow-Right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
  color: grey;
  font-size: 5vh;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.Arrow-Right:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 7%;
  font-size: 5vh;
  position: relative;
  top: calc(50% - 3.5%);
  width: 35px;
  transition: color 0.5s ease-out 100ms;
}

.ZoomInBox {
  width: 100%;
}

/* Product Details */
.Product-Details {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Name-And-Category {
  display: flex;
  flex-direction: column;
  height: 10%;
}

.Stars-And-Reviews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10%;
}

.StyleContainer {
  height: 55%;
  display: flex;
  flex-direction: column;
}

/* Name & Category */

.Category {
  height: 45px;
  display: flex;
  align-items: center;
}

.ProductName {
  height: 70px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.ProductTitle {
  font-size: 35px;
  height: 50%;
}

.CategoryTitle {
  font-size: 18px;
}

/* Stars & Review Link */

.Stars {
  height: 60px;

  display: flex;
  align-items: center;
  font-size: 4vh;
}

.StarRatings {
  color: #ccc;
  position: relative;
  margin: 0;
  padding: 0;
}

.FillRatings {
  color: #000000;
  padding: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Review-Link {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  width: 45%;
  height: auto;
  text-decoration: underline;
}

.ReviewLink {
  text-align: center;
}

/* Price Display */
.BasePrice {
  display: flex;
  align-items: center;
  font-size: 27px;
}

.SalePrice {
  height: 10%;
  display: flex;
  align-items: center;
}

.SalePriceOG {
  font-size: 27px;
  background: linear-gradient(to right top, transparent 47.75%,
  currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.SalePriceSale {
  color:red;
  font-size: 33px;
}

/* Style Display, Selector, & AddToCart */

/* Style Display */
.StyleName {
  display: flex;
  height: 12.5%;
  align-items: center;
}

.StyleTitle, .CurStyleTitle {
  display: flex;
}

.StyleTitle {
  width: 25%;
  font-size: 20px;
}

.CurStyleTitle {
  width: 70%;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

/* Style Selector */
.StyleSelector {
  height: 52.5%;
  display: flex;
  flex-direction: column;
}

.StyleOptions {
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
}

.SingleStyle {
  display: flex;
  justify-content: center;
  width: calc(25%);
}

.SingleStyleSelected {
  display: flex;
  justify-content: center;
  width: calc(25%);
}

.SingleStyleNull {
  width: 25%;
}

.style {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: rgb(179, 173, 6) solid;
  border-radius: 50%;
  object-fit: cover;
  max-height: 64px;
  max-width: 64px;
}

.styleSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 3px;
  border-radius: 50%;
  object-fit: cover;
  max-height: 64px;
  max-width: 64px;
}

/* AddToCart */
.AddToCart {
  height: 35%;
}

.SizeAndQuanitityRow, .CartAndFavRow {
  display: flex;
  justify-content: space-around;
}

.SizeAndQuanitityRow {
  height: 65%;
}

.CartAndFavRow {
  height: 35%;
}

.SizeSelect {
  width: 85%;
  font-size: 2.5vh;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.SizeOptions {
  display: flex;
  justify-content: space-around;
  flex: auto;
}

.SizeIconSelected {
  display: flex;
  border: solid;
  border-radius: 50%;
  width: fit-content;
  min-width: 13%;
  max-width: 50px;
  justify-content: center;
  align-items: center;
}

.SizeIconRegular {
  display: flex;
  border: rgb(179, 173, 6) solid;
  border-radius: 50%;
  width: fit-content;
  min-width: 13%;
  max-width: 50px;
  height:fit-content;

  justify-content: center;
  align-items: center;
}

.SizeIconNull {
  display: flex;
  border: transparent solid;
  border-radius: 50%;
  height: 56%;
  width: fit-content;
  min-width: 13%;
  max-width: 50px;
  justify-content: center;
  align-items: center;
}

.EmptySizes {
  width: 85%;
  font-weight: bold;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuantityFormatter {
  width: 15%;
  display: flex;
  align-items: center;

}

.QuantitySelect {
  font-size: 3vh;
  width:100%;
  height: 50%;
  text-align: center;
  border: solid 2px;
  border-radius: 45%;
}

.CartButton {
  width: 75%;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: black;
  background-color: black;
  color: white;
  border-radius: 40px;
  transition: all 0.5s ease-out 100ms;
}

.CartButton:hover {
  width: 75%;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: black;
  background-color: white;
  color: black;
  border-radius: 40px;
}

.CartButtonDisabled {
  width: 75%;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: rgb(188, 182, 182);
  color: rgb(84, 83, 83);
  background-color: rgb(182, 182, 182);
  border-radius: 40px;
  transition: all 0.5s ease-out 100ms;
}

.FavContainer {
  width:25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FavIcon {
  font-size: 30px;
  border-color: black;
}

/* Bottom Bar */
.BottomBar {
  width:82%;
  margin: auto;
  display:flex;
  justify-content: center;
}

.FeatureContainer {
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20%;
  width: fit-content;
}

.FeatureAndMaterialTitle {
  display: flex;
  align-items: center;
  height: 4vh;
}

.Feature-Spacer {
  min-width: 15%;
}

.FeatureAndMaterial {
  display: flex;
}

.FeatureTitle {
  border-bottom: 3px solid black;
  height: fit-content;
  font-size: 1.75vh;
  display: flex;
  align-items: center;
}

.FeatureMaterialSpacer {
  width: 4%;
}

.FeatureNoMaterial, .MaterialNoFeature {
  display: flex;
}

.Feature {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Material {
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: left;
}

.FeatureSpacer {
  height: 10px;
}

.Social-Media-Buttons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  border: solid;
  border-color: rgb(0, 0, 0);
}

.btn {
  display: flex;
  font-size: 35px;
}

.Info-Container {
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Underline {
  border-bottom: 3px solid black;
}

.Slogan, .Description,
.Slogan-Container, .Description-Container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Description-Container {
  width: 80%;
}

.SMBRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}