.Overview-Container {
  width: 82%;
  margin: auto;
  height: 500px;
  border: solid;
  border-color: red;
  display: flex;
}

.Layout, .Picture-Selector,
.Selected-Picture, .Stars-And-Reviews,
.Stars, .Review-Link, .Name-And-Category,
.Name, .Category, .Price {
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
}

.Layout {
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

/* Product Display */
.Picture-Selector {
  width: 10%;
  height: 500px;
  justify-content: space-between;
  flex-direction: column;
}

.Selected-Picture {
  width: 90%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.Scroll-Up-Down {
  height: 30px;
}

.Scroll-Left-Right {
  height: 30px;
  width: 30px;
}

.Middle-Bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 30px;
}

/* Product Details */
.Product-Details {
  width: 90%;
  height: 500px;
  border: solid;
  border-color: rgb(0, 0, 0);
}

.Stars-And-Reviews, .Name-And-Category, .Price {
  border-color: blue;
  align-items: flex-end;
}

.Stars, .Review-Link, .Name, .Category {
  border-color: rgb(52, 190, 42);
}

.Stars {
  height: 50px;
  width: 55%;
}

.Review-Link {
  align-items: flex-end;
  width: 45%;
}

.Name-And-Category {
  flex-direction: column;
  align-items: flex-start;
}

.Name {
  width: 85%;
  height: 70px;
  align-items: center;
}

.Category {
  width: 50%;
  height:30px;
  align-items: center;
}

.Price {
  height: 30px;
  align-items: center;
}

.SMB {
  width:82%;
  margin: auto;
  display:flex;
}

.BtnSpacer {
  width: 55%;
}

.Social-Media-Buttons {
  height:25px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  border: solid;
  border-color: red;
}

.btn {
  border: solid;
  border-color:black;
  display: flex;
}