.bolded {
  font-weight: 900;
}

.Overview-Container {
  width: 82%;
  margin: auto;
  height: 500px;
  border: solid;
  border-color: red;
  display: flex;
}

.Layout {
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
}

/* TopBar */
.TopBar {
  height: 125px;
  width: 82%;
  margin:auto;
  flex-direction: column;
}

.NavBar {
  border: solid;
  border-color: red;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

.Logo {
  border: solid;
  border-color: blue;
  display: flex;
  height:100%;
  width: fit-content;
}

.SearchBar {
  width:fit-content;
  border: solid;
  border-color: blue;
  display: flex;
}

.Announcements {
  display: flex;
  justify-content: center;
}

/* Product Display */
.Picture-Selector {
  width: 10%;
  height: 500px;
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Selected-Picture {
  width: 90%;
  height: 500px;
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Scroll-Up-Down {
  height: 30px;
}

.Scroll-Left-Right {
  height: 30px;
  width: 30px;
}

.Middle-Bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 30px;
}

/* Product Details */
.Product-Details {
  width: 90%;
  height: 500px;
  border: solid;
  border-color: rgb(0, 0, 0);
}


.Name-And-Category {
  border: solid;
  border-color: blue;
  display: flex;
  flex-direction: column;
  height: 23%;
}

/* Name & Category */
.Category {
  height: 30%;
  width: 100%;
  border: solid;
  border-color: rgb(52, 190, 42);
  display: flex;
  align-items: center;
}

.ProductName {
  border: solid;
  border-color: rgb(52, 190, 42);
  display: flex;
  height: 60%;
  width: 100%;
  align-items: center;
}

.ProductTitle {
  font-size: 35px;
}

/* Stars & Review Link */
.Stars-And-Reviews {
  border: solid;
  border-color: blue;
  display: flex;
  align-items: flex-end;
  height: 10%;
}

.Stars {
  height: 50px;
  width: 55%;
  border: solid;
  border-color: rgb(52, 190, 42);
  display: flex;
}

.Review-Link {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  width: 45%;
  height: auto;
  border: solid;
  border-color: rgb(52, 190, 42);
}

/* Price Display */
.BasePrice {
  border: solid;
  border-color: blue;
  display: flex;
  height: 10%;
  align-items: center;
  font-size: 25px;
}

.SalePrice {
  border: solid;
  border-color: blue;
  display: flex;
  height: 10%;
  align-items: center;
}

.SalePriceSpacer {
  width: 5%;
}

.SalePriceOG {
  font-size: 20px;
  background: linear-gradient(to right top, transparent 47.75%,
  currentColor 49.5%, currentColor 50.5%, transparent 52.25%);

}

.SalePriceSale {
  color:red;
  font-size: 25px;
}

/* Style Display, Selector, & AddToCart */
.StyleContainer {
  height: 67%;
}

/* Style Display */
.StyleName {
  border: solid;
  border-color: blue;
  display: flex;
  height: 15%;
  position:inherit;
  align-items: center;
}
.Style-Title-Left, .Style-Title-Center, .Style-Title-Right {
  border: solid;
  border-color:rgb(52, 190, 42);
  display: flex;
  justify-content: center;
}


.Style-Title-Left {
  width: 5%;
}

.Style-Title-Center {
  width: 25%;
}

.Style-Title-Right {
  width: 70%;
}


/* Style Selector */
.StyleSelector {
  border: solid;
  height: 33%;
  border-color: blue;
  display: flex;
  flex-direction: column;
}

.StyleOptions {
  border: solid;
  border-color: rgb(233, 11, 207);
  display: flex;
  flex: auto;
  height:fit-content;
}

.SingleStyle {
  display: flex;
  width: 25%;
  justify-content: center;
  font-size: 10px;
}

.SingleStyleSelected {
  display: flex;
  width: 25%;
  justify-content: center;
  font-size: 10px;
  border: solid;
}

/* AddToCart */
.AddToCart {
  height: 30%;
}

.SizeAndQuanitityRow, .CartAndFavRow {
  border: solid;
  border-color: blue;
  display: flex;
  justify-content: space-around;
  height:50%;
}

.SizeSelect, .QuantitySelect {
  width: 50%;
}

.CartButton {
  width:75%
}

.FavButton {
  width:25%
}

/* Bottom Bar */
.BottomBar {
  width:82%;
  margin: auto;
  display:flex;
  justify-content: center;
}

.FeatureContainer {
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.FeatureAndMaterial, .FeatureAndMaterialTitle {
  display: flex;
  justify-content:space-around;
}

.FeatureTitle, .MaterialTitle {
  border-bottom: 3px solid black;
}

.Feature, .Material {
  width: 50%;
  display: flex;
  justify-content: center;
}

.Feature {
  border-right: 3px solid black;
}

.FeatureMaterialBoundary {
  display: flex;
  justify-content: center;
}

.FeatureSpacer {
  height: 10px;
}

.Social-Media-Buttons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  border: solid;
  border-color: rgb(0, 0, 0);
}

.btn {
  display: flex;
  font-size: 35px;
}

.Info-Container {
  border: solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  width: 75%;
  justify-content: center;
  flex-direction: column;
}

.Underline {
  border-bottom: 3px solid black;
}

.Slogan, .Description,
.Slogan-Container, .Description-Container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.SMBRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}