.related-items-and-comp-container {
  width: 1440px;
  margin: auto;
  border: solid;
  border-color: blue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px
}

.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 400px;
  border: 3px solid black;
  float: left;
}

.card-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 210px;
  height: 30px;
}

.card-product-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 140px;
  height: 110px;
  border: 2px solid black;
}

.card-image {
  align-items: center;
  width: 250px;
  height: 350px;
  padding: 0.5rem;
  cursor: pointer;
  float: left;
  margin-right: 10px;
}

.card-image:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  transition: 0.30s;
}


.related-products-list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 20px;
}

.products-list {
  position: relative;
  display: flex;
  align-items: center;
}

.slide {
  cursor: pointer;
  opacity: .5;
}

.slide:hover {
  opacity: 1;
}

/* opacity-50 cursor-pointer hover:opacity-100 */
