.related-items-and-comp-container {
  width: 1440px;
  margin: auto;
  border: solid;
  border-color: blue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px
}

.card-container {
  /* margin-top: 10px;
  margin-bottom: 10px; */
  width: 250px;
  height: 400px;
  border: 1px solid black;
  margin-right: 20px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.card-container:hover {
  box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
}

.card-button {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 210px;
  height: 30px; */
  /* position: absolute; */
  position: relative;
  left: 220px;
  top: -290px;

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: black;
  font-weight: 550;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card-button:hover {
  color: white;
}

.card-media {
  position: relative;
  width: 250px;
}

/* .card-product-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 140px;
  height: 110px;
  border: 2px solid black;
} */

.card-content {
  padding: ;
}

.card-image {
  /* align-items: center; */
  display: block;
  width: 250px;
  height: 300px;
  /* padding: 0.5rem; */
  cursor: pointer;
  float: left;
  margin-right: 20px;
}

/* .card-image:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  transition: 0.30s;
} */


.related-products-list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 20px;
}

.products-list {
  position: relative;
  display: flex;
  align-items: center;
}

.slide {
  cursor: pointer;
  opacity: .5;
}

.slide:hover {
  opacity: 1;
}

/* opacity-50 cursor-pointer hover:opacity-100 */
