.related-items-and-comp-container {
  width: 1440px;
  margin: auto;
  border: solid;
  border-color: blue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px
}

.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 300px;
  border: 3px solid black;
}

.card-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 160px;
  height: 30px;
}

.card-product-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 140px;
  height: 110px;
  border: 2px solid black;
}

.card-image {
  display: flex;
  align-items: center;
}