body {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--black)
}

:root {
  --mainFont: #000;
  --lightFont: #737373;
  --select: #f5f4f4;
  --divider: #e1e0e0;
  --iconNoFill: gray;
}

.hover {
  cursor: pointer;
  transition: color 0.5s ease-out 100ms;
  transition: background-color 0.5s ease-out 100ms;
}

.hover:hover {
  background-color: var(--select);
  cursor: pointer;
  transition: color 0.5s ease-out 100ms;
  transition: background-color 0.5s ease-out 100ms;
}


/* -fonts: roboto condensed
-colors:
  -mainFont / icon-fill-color : black (#000)
  -lightFont : #737373
  -select-background : #f5f4f4
  -bar-dividers: #e1e0e0 */