body {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--black)
}

:root {
  --mainFont: #000;
  --lightFont: #737373;
  --select: #f5f4f4;
  --divider: #e1e0e0;
  --iconNoFill: gray;
}

.hover:hover {
  background-color: var(--select);
  cursor: pointer;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  font-size: large;
  font-weight:  bold;
  padding: 1rem;
  background-color: black;
  color: white;
}


/* -fonts: roboto condensed
-colors:
  -mainFont: main font color and icon fill color
  -lightFont: used for lighter font
  -select-background: background color for selected or hovering over items
  -bar-dividers: used for straight lines separating blocks/elements */