.RatingsBreakdown-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.ratingsBreakdown-header {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.ratingsBreakdown-average {
  font-weight: bold;
  font-size: 300%;
  justify-self: flex-start;
}

.Ratings-Filter-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.ratings-breakdown-filter {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.ratings-breakdown-filter-button {
  text-decoration: underline;
  width: 3rem;
}

.ratings-breakdown-filter-bar {
  background-color: var(--iconNoFill);
  align-self: center;
  height: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ratings-breakdown-filter-fill {
  background-color: var(--mainFont);
  height: 10px;
  padding: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%
}

.StarRatings {
  color: var(--iconNoFill);
  font-size: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.FillRatings {
  color: var(--mainFont);
  padding: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}