.RR-Container {
  display: grid;
  grid-template-columns: auto 75%;
  grid-template-rows: auto;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  width: 60%;
  max-width: 60%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  position: relative;
  margin-top: 4rem;
}

.rr-title {
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  font-size: large;
}

.Breakdown-Container {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  gap: 2.5em;
}

.ReviewsList-Container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 50vh;
  /* max-width: 700px; */
}

.reviewList-header {
  display: flex;
  justify-self: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  font-weight: bold;
  /* min-height: 5rem; */
  gap: 1rem
}

.reviewList-sort select {
  font-weight: bold;
  font-size: 1rem;
  border-width: 0px;
  border-bottom: 1px solid black;
}

.Buttons-Container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.add-a-review-text {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.add-a-review-icon {
  display: flex;
  font-size: 1.2em;
  bottom: 20px;
}

.posterTag {
  font-size: 90%;
}


