.invisible {
  visibility: hidden;
}

.Review-Tile-Container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--divider);
  /* border-top: 1px solid var(--divider); */
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.review-tile-header {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: #f0efef; */
}

.review-tile-summary {
  flex-basis: 100%;
  font-weight: bold;
  overflow-wrap: break-word;
}
.review-tile-body-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.review-tile-body {
  flex-basis: 100%;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-wrap: break-word;
}

.review-tile-body-show-more {
  text-decoration: underline;
  font-weight: bold;
}

.review-tile-body-show-more:hover {
  cursor: pointer;
}

.review-tile-photos {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 2px;
}

.review-tile-photo {
  width: 20%;
  height: 100px;
}

.review-tile-recommend {
  display: flex;
  flex-basis: 100%;
  font-size: 1em;
  align-items: center;
  gap: 5px;
}

.review-tile-recommend-icon {
  font-size: 1.5em;
}

.review-tile-response {
  background-color: var(--iconNoFill);
  padding: 1rem;
}

.review-tile-footer {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  gap: 5px;
}

.review-tile-helpful {
  display: flex;
}

.review-tile-report {
  text-decoration: underline;
}

