.RR-Container {
  width: 82%;
  border: 3px solid blue;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px
}

.rr-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  padding-left: 20px;
  font-size: large;
}

.Module-Container {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.Breakdown-Container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.RatingsBreakdown-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  margin-bottom: 20px;
}

.ProductBreakdown-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.ReviewsList-Container {
  max-width: 800px;
  margin-left: 40px;
  padding: 20px;
}

.Buttons-Container {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.more-reviews-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  width: 150px;
  height: 50px;
  margin-left: 20px;
}

.add-a-review-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  width: 200px;
  height: 50px;
  margin-left: 20px;
}


