.StarRatings {
  color: #ccc;
  font-size: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.FillRatings {
  color: black;
  padding: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}