.StarRatings {
  color: var(--iconNoFill);
  font-size: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.FillRatings {
  color: var(--mainFont);
  padding: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

input[type="radio"].modalStar {
  display: none;
}

.modalStar {
  cursor: pointer;
  transition: color 200ms;
}